{% include custom/navigation.html %}
<ul class="nav pull-right">
    {% if site.github_user %}
    <li><a href="http://github.com/{{ site.github_user }}" title="Github Profile"><i class="fa fa-github fa-2x"></i></a></li>
    {% endif %}
    {% if site.bitbucket_user %}
    <li><a href="http://bitbucket.org/{{ site.bitbucket_user }}" title="BitBucket Profile"><i class="fa fa-bitbucket fa-2x"></i></a></li>
    {% endif %}
    {% if site.linkedin_user %}
    <li><a href="http://linkedin.com/in/{{ site.linkedin_user }}" title="Linkedin Profile"><i class="fa fa-linkedin fa-2x"></i></a></li>
    {% endif %}
    {% if site.twitter_user %}
    <li><a href="http://twitter.com/{{ site.twitter_user }}" title="Twitter Profile"><i class="fa fa-twitter fa-2x"></i></a></li>
    {% endif %}
    {% if site.googleplus_user %}
    <li><a href="http://plus.google.com/{{ site.googleplus_user }}" title="Google+ Profile"><i class="fa fa-google-plus fa-2x"></i></a></li>
    {% endif %}
    {% if site.facebook_user %}
    <li><a href="http://facebook.com/{{ site.facebook_user }}" title="Facebook Profile"><i class="fa fa-facebook fa-2x"></i></a></li>
    {% endif %}
    {% if site.flickr_user %}
    <li><a href="http://flickr.com/photos/{{ site.flickr_user }}" title="Flickr Profile"><i class="fa fa-flickr fa-2x "></i></a></li>
    {% endif %}
    {% if site.codepen_user %}
    <li><a href="http://codepen.io/{{ site.codepen_user }}" title="Codepen Profile"><i class="fa fa-codepen fa-2x"></i></a></li>
    {% endif %}

    {% if site.email %}
    <li><a href="mailto:{{ site.email }}" title="Email"><i class="fa fa-envelope fa-2x"></i></a></li>
    {% endif %}
</ul>
    