{% include custom/navigation.html %}
<ul class="nav pull-right">
    {% if site.github_user %}
    <li><a href="http://github.com/{{ site.github_user }}" title="Github Profile"><i class="icon-github-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.bitbucket_user %}
    <li><a href="http://bitbucket.org/{{ site.bitbucket_user }}" title="BitBucket Profile"><i class="icon-bitbucket-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.linkedin_user %}
    <li><a href="http://linkedin.com/in/{{ site.linkedin_user }}" title="Linkedin Profile"><i class="icon-linkedin-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.twitter_user %}
    <li><a href="http://twitter.com/{{ site.twitter_user }}" title="Twitter Profile"><i class="icon-twitter-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.googleplus_user %}
    <li><a href="http://plus.google.com/{{ site.googleplus_user }}" title="Google+ Profile"><i class="icon-google-plus-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.facebook_user %}
    <li><a href="http://facebook.com/{{ site.facebook_user }}" title="Facebook Profile"><i class="icon-facebook-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.flickr_user %}
    <li><a href="http://flickr.com/photos/{{ site.flickr_user }}" title="Flickr Profile"><i class="icon-flickr social-navbar"></i></a></li>
    {% endif %}

    {% if site.email %}
    <li><a href="mailto:{{ site.email }}" title="Email"><i class="icon-envelope-alt social-navbar"></i></a></li>
    {% endif %}
</ul>
