// Customize the colors of Octoflat Here

/* Remove this line for the light theme / for custom colors

$primary-color:      #e69411; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #1dbbd6; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #C0392B; // Hover-over color, Active Page color
$accent-color1:      #23defe; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #1ec2de; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer

 And remove this line */